<div class="img-placeholder">
  <div class="row">
    <div class="col-4 offset-1 mt-4">
      <div class="row">
        <div class="col-4 text-center text-shadow" id="{{id1}}"></div>
      </div>
      <div class="row font-xs">
        <div class="col-4 offset-4 text-center text-shadow"> or </div>
      </div>
      <div class="row">
        <div class="col-4 offset-8 text-center text-shadow" id="{{id2}}"></div>
      </div>
      <div class="row col-12 lead font-xs font-italic">
        Click on your favourite name
      </div>
    </div>
  </div>
</div>
