<header class="display-3 text-center">
  <div class="row">
    <div class="col-8">
      <div class="row">
        Sam & Neil
      </div>
      <div class="row lead col-12">
        Due 24th June 2020
      </div>
    </div>

    <div class="col-4">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownMenu" data-toggle="dropdown">
          Menu
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" type="button" id="addNameButton">Add a name</button>
          <button class="dropdown-item" type="button" id="deleteNameButton">Delete a name</button>
          <button class="dropdown-item" type="button" id="changePasswordButton">Change password</button>
          {{#if isAdmin}}
            <button class="dropdown-item" type="button" id="addUserButton">Add a user</button>
          {{/if}}
          <form method="GET" action="/logout">
            <button class="dropdown-item" type="submit">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <hr>
</header>

<div class="container">
  <div id="main-content-1">
    <div class="row">
      <div class="col-2">
        {{> tableMainUser id="results-table-1-A" }}
      </div>
      <div class="col-2">
        {{> tableOtherUser id="results-table-2-A" }}
      </div>
      <div class="col-8">
        {{> mainImage id1="name1-A" id2="name2-A" }}
      </div>
    </div>
  </div>

  <div id="main-content-2">
    <div class="row">
      <div class="col">
        {{> mainImage id1="name1-B" id2="name2-B" }}
      </div>
    </div>
    <div class="row">
      <div class="col-4 offset-2">
        {{> tableMainUser id="results-table-1-B" }}
      </div>
      <div class="col-4">
        {{> tableOtherUser id="results-table-2-B" }}
      </div>
    </div>
  </div>
</div>

{{> addName }}
{{> deleteName }}
{{> changePassword }}
{{> addUser }}

<script type="module" src="js/modalEventHandlers.js"></script>
<script type="module" src="js/script.js"></script>
