.display-3 {
    color: #8C8C94 !important;
    font-family: 'Pacifico', cursive !important;
}

.display-3 .lead {
    font-family: 'Open Sans', sans-serif !important;
}

.img-placeholder {
    background-image: url("/images/DBA2C92B-0DBF-4044-8DB9-F66D01EB978A_1_105_c.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 550px;
} 
